*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #00574c;
}

body {
    padding:0;
    margin:0;
}

div.board {
    display: block;
    position: relative;
    border: 3px solid #000;
    margin: auto;
    padding: 0;
    width: 500px;
    height: 500px;
    background: #5f5f5f;
    font-size: 0;

}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 11.25%;
    height: 11.25%;
    background: #ffff;
    }
    

div:nth-child(4) ~ div:nth-child(-2n+11),
div:nth-child(11) ~ div:nth-child(-2n+18),
div:nth-child(20) ~ div:nth-child(-2n+27),
div:nth-child(27) ~ div:nth-child(-2n+34), 
div:nth-child(36) ~ div:nth-child(-2n+43),
div:nth-child(43) ~ div:nth-child(-2n+50),
div:nth-child(52) ~ div:nth-child(-2n+59),
div:nth-child(59) ~ div:nth-child(-2n+66) {
    background-color: #000;
}

div.text_top,
div.text_bottom,
div.text_left,
div.text_right{
    background: #5f5f5f;
} 

div.text_top,
div.text_bottom {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 24px;
}

div.text_left,
div.text_right{
    width: 5%;
    height: 90%;
    color: white;
    font-size: 24px;
}
div.text_right {
    float: right;
}
div.text_left {
    float: left;
}


div.text_top p,
div.text_bottom p {
    display: inline-block;
    margin: 0;
    margin-left: 6.8%;
    padding: 0;
}
div.text_top p:first-child {
    margin-left: 8.8%;
}
div.text_bottom p:first-child {
    margin-left: 3.8%;
}

div.text_right p,
div.text_left p {
    margin: 0;
    margin-left: 30%;
    padding: 0;
    padding-top: 115%
}

div.text_right p:first-child,
div.text_left p:first-child{
    padding-top: 66%;
}

div [class^="circle"] {
    background: no-repeat;
    position: absolute;
    padding-left: 5%;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

div.circle1 p,
div.circle2 p,
div.circle3 p,
div.circle4 p {
    display: inline-block;
    margin-top: 24.5px;
    margin-left: 56px;
    width: 55px;
    height: 55px;
    background: red;
    -moz-border-radius: 27.5px;
    -webkit-border-radius: 27.5px;
    border-radius: 27.5px;
}

div.circle2 p {
    margin-top: 80.5px;
    margin-left: 0px;
    margin-right: 56px;
}

div.circle3 p {
    margin-top: 358.5px;
    margin-left: 56px;
}

div.circle4 p {
    margin-top: 414.5px;
    margin-left: 0px;
    margin-right: 56px;
}

div.circle1 p,
div.circle2 p {
    background: #42d749;
}

div.circle3 p,
div.circle4 p {
    background: #0e5711;
}

